<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="LOG_DIR">build/logs</Property>
        <Property name="LOG_FILE">${LOG_DIR}/tests.log</Property>
        <Property name="PATTERN">%style{%d{HH:mm:ss.SSS}}{cyan} %highlight{%-5level} [%style{%X{test}}{faint}]
            %style{%c{1.}}{magenta} — %msg%n%throwable
        </Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${PATTERN}" disableAnsi="false"/>
        </Console>

        <RollingFile name="File" fileName="${LOG_FILE}" filePattern="${LOG_DIR}/tests-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%X{test}] %c — %msg%n%throwable"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Logger name="com.codeborne.selenide" level="INFO" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Logger>
        <Logger name="io.appium" level="INFO" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Logger>

        <Root level="INFO">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>
</Configuration>
